
.Cta{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 8rem;
    gap: 3rem;
}

.Cta h1{
    font-size: 2.2rem;
}

.CtaButtons{
    display: flex;
    gap: 4rem;
}

@media (max-width: 768px){
    .Cta{
        padding: 4rem 0;
        width: 100%;
    }
    .Cta h1{
        font-size: 1.8rem;
    }

    .CtaButtons{
        gap: 2rem;
    }
}