.arrowContainer {
    position: fixed;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    z-index: 50;
    pointer-events: none;
}

.arrowWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 2rem;
    height: 2rem;
}