.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.videoStyle {
    width: 150vh;
}

.recruitment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem;
    margin-bottom: 50px;
}

.recruitment-title {
    font-family: "Bebas Neue", sans-serif;
}

.subteams {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

.subteam {
    width: 40vh;
    height: 40vh;
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px;
    border: 1px solid #500000;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}

.subteam h2 {
    font-size: 1.4em;
    margin-bottom: 15px;
}

.subteam p {
    margin: 0;
}

.more-info-button {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0.5rem;
    background-color: #500000;
    color: white;
}

.join-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0.5rem;
    background-color: #500000;
    color: white;
}

.contact {
    text-align: center;
    margin-top: 50px;
    /* position: relative; */
    margin-bottom: 20px;
}

.contact-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; /**/
    width: 60%;
    /* max-width: 65%;  */
    position: relative;
    margin: 0 auto;
}

.contact-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 150px;
    margin-bottom: 50px;
    /* min-height: 150px; */
}

.send-button-container {
    position: absolute;
    bottom: 0;
    right: 0;
}

.contact-form button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0.5rem;
    background-color: #500000;
    color: white;
    width: 100%; /* Ensure button takes full width */
    max-width: 200px; /* Set maximum width for responsiveness */
}

.contact-email {
    margin-top: 20px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

.contact-email a {
    text-decoration: underline;
    color: #500000;
}

@media (max-width: 950px) {
    .subteams {
        flex-direction: column;
        align-items: center;
    }

    .subteam {
        width: 30vh;
        height: 35vh;
        margin-bottom: 20px;
    }

    .join-button {
        position: relative;
        margin-top: 0px;
        left: auto;
        transform: none;
        position: absolute;
        bottom: 10px;
        transform: translateX(-50%);
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        border-radius: 0.5rem;
        background-color: #500000;
        color: white;
    }
}

@media (max-width: 768px) {

    .subteams {
        flex-direction: column;
        align-items: center;
    }

    .subteam {
        width: 30vh;
        height: 35vh;
        margin-bottom: 20px;
    }


    .join-button {
        position: relative;
        margin-top: 10px;
        left: auto;
        transform: none;
        position: absolute;
        bottom: 10px;
        transform: translateX(-50%);
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        border-radius: 0.5rem;
        background-color: #500000;
        color: white;
    }

    .videoStyle {
        width: 80vw;
    }

    .recruitment,
    .contact {
        text-align: center;
    }

    .contact-form {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        width: 60%;
        position: relative;
        margin: 0 auto;
    }
}