.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoContainer {
    display: flex;
    justify-content: center;
}

.videoStyle {
    width: 150vh;
}

.recruitment {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 100px; */
    margin: 1rem 1rem;
}

.recruitment-title {
    font-family: "Bebas Neue", sans-serif;
}

.join {
    text-align: center;
}

.join-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 4rem;
}

.join-button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0.5rem;
    margin: 10px;
}

@media (max-width: 768px) {
    .buttons-container {
        flex-direction: column; 
        align-items: center;
        margin-left: 0;
    }

    .join-button {
        margin: 0px 0;
    }
}

.info-button,
.engineering-button,
.business-button {
    background-color: #500000;
    color: white;
}

.contact {
    text-align: center;
    margin-top: 50px;
    position: relative;
    margin-bottom: 20px;
}

.contact-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
    position: relative;
}

.contact-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 150px;
    margin-bottom: 50px;
}

.send-button-container {
    position: absolute;
    bottom: 0;
    right: 0;
}

.contact-form button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0.5rem;
    background-color: #500000;
    color: white;
}
.subteams {
    display: flex;
    justify-content: center;
}

.subteam {
    margin: 0 20px;
}

.subteam h2 {
    font-size: 1.2rem;
}