.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoContainer {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* width:80vh */
}

.videoStyle {
    width: 150vh;
}

.recruitment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin: 100px 100px;
}

.recruitment-title {
    font-family: "Bebas Neue", sans-serif;
}

.join {
    text-align: center;
    margin-top: 20px;
}

.join-title {
    font-family: "Bebas Neue", sans-serif;
}

.join-section {
    margin-top: 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px;
}

.info-button {
    background-color: #500000;
    color: white;
}

.engineering-button {
    background-color: #500000;
    color: white;
}

.business-button {
    background-color: #500000;
    color: white;
}

.contact {
    text-align: center;
    margin-top: 50px;
}

.contact-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.contact-title {
    font-family: "Bebas Neue", sans-serif;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px;
    background-color: #500000;
    color: white;
    /* border-radius: 15%; */
}