
main.getInvolvedContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.getInvolvedContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 8rem 0;
    gap: 3rem;
    margin-bottom: 4rem;
}

.getInvolvedContent h1{
    text-align: left;
    font-size: 2rem;
}

.tier{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tier h2{
    font-size: 1.2rem;
}

.tier h3{
    font-size: 1.2rem;
    font-weight: normal;
}


.spacer{
    height: 14rem;
}