.teamMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12rem;
}

.fullscreenImage {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreenImage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.teamIntroContent {
    width: 60%;
    max-width: 1200px;
    display: flex;
    gap: 4rem;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}

.teamIntroContent h1 {
    font-size: 2rem;
    font-weight: bold;
    width: 40%;
}

.teamIntroContent h2 {
    font-size: 1.2rem;
    font-weight: normal;
    width: 60%;
    line-height: 1.5;
}

.leadsSection {
    width: 60%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.leadsSection > h1 {
    font-size: 2rem;
    font-weight: bold;
}

.leadSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}

.lead {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-align: left;
    width: 22%;
}

.lead h1 {
    font-size: 1.2rem;
    font-weight: bold;
}

.lead h2 {
    font-size: 1.2rem;
    font-weight: normal;
}

.fullTeam {
    width: 60%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.fullTeam > h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.team {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1rem;
}

.team h1 {
    font-size: 1.2rem;
    font-weight: bold;
}

.team h2 {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.5;
}

@media (max-width: 768px){
    .fullscreenImage {
        margin-top: 3.75rem;
        height: auto;
        aspect-ratio: 16 / 9;
    }

    .fullscreenImage img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .teamIntroContent{
        flex-direction: column;
    }

    .teamIntroContent h1, .teamIntroContent h2{
        width: 100%;
    }

    .leadsSection{
        gap: 3rem;
    }

    .leadSection{
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 0;
    }

    .lead{
        width: 100%;
    }
}