@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --maroon: #500000;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.landing-container{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-container h1{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    margin: 0;
    font-size: 5rem;
    text-align: center;
}

/* Countdown styles */

.countdown-container{
    background-color: black;
    color: white;;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.countdown-container h1{
    font-size: 3rem;
    font-weight: normal;
}

.countdown{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown-item{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.countdown-item span.countdown-number{
    font-size: 5rem;
    font-weight: bold;
    color: var(--maroon);
    text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}

.countdown-item h1{
    font-size: 2rem;
}

/* Car showcase styles */

.car-showcase{
    font-family: 'Inter', sans-serif;
    height: 125vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20rem;
}

.car-showcase h1.showcase-title{
    font-weight: bold;
    color: white;
    font-size: 3rem;
}

/* .car-image{
    max-width: 800px;
    align-self: center;
} */

.stats-container{
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-align: center;
}

.stat h1{
    font-size: 1.5rem;
    font-weight: normal;
}

.stat h2{
    font-weight: bold;
    font-size: 2.5rem;
}

h2.pixelated-blur{
    filter: blur(10px);
}

video.car-video{
    width: 40vw;
    border-radius: 25px;
    height: auto;
}

/* Mobile styling */

@media screen and (max-width: 768px){
    .landing-container h1{
        font-size: 3rem;
        margin: 0 1rem;
    }

    .countdown{
        padding: 0 1rem;
    }

    .countdown-item span.countdown-number{
        font-size: 2rem;
    }

    .countdown-container h1{
        font-size: 2.5rem;
    }
    
    .countdown-item h1{
        font-size: 1rem;
    }

    /* .car-image{
        max-width: 300px;
    } */

    .car-showcase{
        height: 100vh;
    }

    video.car-video{
        width: 80vw;
    }

    .stat h1{
        font-size: 1rem;
    }
    
    .stat h2{
        font-size: 2rem;
    }
}
