@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --maroon: #500000;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.landing-container{
    position: relative;
    background-color: black;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    font-family: 'Bebas Neue', sans-serif;
    color: white;
    margin: 0;
    font-size: 5rem;
    text-align: center;
}

.scroll-down {
    position: absolute;
    bottom: 80px;
    left: 50%;
    text-align: center;
    font-size: 20px;
    z-index: 1;
    text-decoration: none;
    text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: translate(-50%, 0) rotate(45deg);
    -webkit-transform: translate(-50%, 0) rotate(45deg);
    animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
  }
  
  @keyframes fade_move_down {
    0% {
          transform: translate(0, -20px) rotate(45deg);
          opacity: 0;
    }
    50% {
          opacity: 1;
    }
    100% {
          transform: translate(0, 20px) rotate(45deg);
          opacity: 0;
    }
  }

.landing-container h1{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    margin: 0;
    font-size: 5rem;
    text-align: center;
}

/* Countdown styles */

.countdown-container{
    background-color: black;
    color: white;;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.countdown-container h1{
    font-size: 3rem;
    font-weight: normal;
}

.countdown{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown-item{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.countdown-item span.countdown-number{
    font-size: 5rem;
    font-weight: bold;
    color: var(--maroon);
    text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}

.countdown-item h1{
    font-size: 2rem;
}

/* Car showcase styles */

.car-showcase{
    font-family: 'Inter', sans-serif;
    height: 125vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20rem;
}

.car-showcase h1.showcase-title{
    font-weight: bold;
    color: white;
    font-size: 3rem;
}

/* .car-image{
    max-width: 800px;
    align-self: center;
} */

.stats-container{
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-align: center;
}

.stat h1{
    font-size: 1.5rem;
    font-weight: normal;
}

.stat h2{
    font-weight: bold;
    font-size: 2.5rem;
}

h2.pixelated-blur{
    filter: blur(10px);
}

video.car-video{
    width: 40vw;
    border-radius: 25px;
    height: auto;
}

/* Mobile styling */

@media screen and (max-width: 768px){
    .landing-container h1{
        font-size: 3rem;
        margin: 0 1rem;
    }

    .countdown{
        padding: 0 1rem;
    }

    .countdown-item span.countdown-number{
        font-size: 2rem;
    }

    .countdown-container h1{
        font-size: 2.5rem;
    }
    
    .countdown-item h1{
        font-size: 1rem;
    }

    /* .car-image{
        max-width: 300px;
    } */

    .car-showcase{
        height: 100vh;
    }

    video.car-video{
        width: 80vw;
    }

    .stat h1{
        font-size: 1rem;
    }
    
    .stat h2{
        font-size: 2rem;
    }
}
