@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --maroon: #500000;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.landing-container{
    position: relative;
    background-color: black;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    font-family: 'Bebas Neue', sans-serif;
    color: white;
    margin: 0;
    font-size: 5rem;
    text-align: center;
}

.landing-text{
    display: flex;
}

.landing-text-spacer{
    width: 10px;
}

.landing-car-image{
    max-width: 800px;
    align-self: center;
    margin-bottom: 3rem;
}

.scroll-down {
    position: absolute;
    bottom: 80px;
    left: 50%;
    text-align: center;
    font-size: 20px;
    /* z-index: 1; */
    text-decoration: none;
    text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: translate(-50%, 0) rotate(45deg);
    -webkit-transform: translate(-50%, 0) rotate(45deg);
    animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
  }
  
  @keyframes fade_move_down {
    0% {
          transform: translate(0, -20px) rotate(45deg);
          opacity: 0;
    }
    50% {
          opacity: 1;
    }
    100% {
          transform: translate(0, 20px) rotate(45deg);
          opacity: 0;
    }
  }

.landing-container h1{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    margin: 0;
    font-size: 5rem;
    text-align: center;
}

/* Countdown styles */

.countdown-container{
    background-color: black;
    color: white;;
    height: 200vh;
    font-family: 'Inter', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.countdown-container h1{
    font-size: 5rem;
    font-weight: bold;
    color: white;
}

.countdown{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown-item{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.countdown-item span.countdown-number{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    color: var(--maroon);
    text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}

.countdown-item h1{
    text-shadow: none;
    color: white;
    font-weight: normal;
    margin-top: 0;
    font-size: 3rem;
}

/* Car showcase styles */

.car-showcase{
    padding-top: 25rem;
    font-family: 'Inter', sans-serif;
    height: 200vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20rem;
}

.car-showcase h1.showcase-title{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 4rem;
}

.car-image{
    margin: 3rem 0;
    max-width: 800px;
    align-self: center;
}

.stats-container{
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-align: center;
}

.stat h1{
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
}

.stat h2{
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
}

h2.pixelated-blur{
    filter: blur(10px);
}

video.car-video{
    width: 60vw;
    border-radius: 25px;
    height: auto;
}

h1.stat-val{
    font-size: 2rem;
    font-weight: bold;
}

/* Donate */

section.home-join-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
}

section.home-join-section h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    margin: 0;
    color: white;
}

section.home-join-section h2{
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    margin: 5rem 0;
    font-weight: normal;
    color: white;
}

section.home-join-section button.become-a-sponsor-button{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    background-color: var(--maroon);
    color: white;
    padding: 2rem 3rem;
    border: none;
}


section.home-join-section button.become-a-sponsor-button a{
    color: white;
    text-decoration: none;
}

section.home-join-section button.become-a-sponsor-button:hover{
    background-color: #8B0000;
    cursor: pointer;
}

/* Sponsors */

.home-sponsors{
    height: 200vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-sponsors h1{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    margin: 0;
}

.home-sponsors h2{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    margin: 5rem 0;
    font-weight: normal;
}

.sponsor-home-images{
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    align-items: flex-end;
}

.sponsor-home-images img{
    max-width: 400px;
}

.home-sponsor-button{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    background-color: var(--maroon);
    color: white;
    padding: 2rem 3rem;
    border: none;
    margin-top: 4rem;
}

.home-sponsor-button a{
    color: white;
    text-decoration: none;
}

.home-sponsor-button:hover{
    background-color: #8B0000;
    cursor: pointer;
}


/* Mobile styling */

@media screen and (max-width: 1000px){
    .landing-text{
        flex-direction: column;
    }

    .landing-text-spacer{
        display: none;
    }

    h1.landing-we-are{
        font-size: 4rem;
    }

    .landing-container{
        font-size: 4rem;
        padding: 0 2rem;
    }
}

@media screen and (max-width: 768px){

    .landing-car-image{
        display: none;
    }

    .countdown-item span.countdown-number{
        font-size: 2.9rem;
    }

    .countdown-container h1{
        font-size: 2.5rem;
    }
    
    .countdown-item h1{
        font-size: 1.25rem;
    }

    .car-showcase{
        height: 100vh;
    }

    video.car-video{
        width: 80vw;
    }

    .stat h1{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .stat h2{
        font-size: 2rem;
    }

    h1.stat-val{
        font-size: 1.5rem;
    }

    .scroll-down{
        bottom: 100px;
    }

    section.home-join-section h1{
        font-size: 2.5rem;
    }

    section.home-join-section h2{
        font-size: 1.5rem;
    }

    section.home-join-section button.become-a-sponsor-button{
        font-size: 1.5rem;
    }

    .home-sponsors{
        padding: 2rem;
        text-align: center;
    }

    .home-sponsors h1 {
        font-size: 2.5rem;
    }

    .home-sponsors h2 {
        font-size: 1.5rem;
    }

    .sponsor-home-images{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img.car-image{
        max-width: 90vw;
    }

    .sponsor-home-images img {
        margin-bottom: 5rem;
        max-height: 125px;
        max-width: 200px;
    }

    .home-sponsor-button {
        margin-top: 0;
        font-size: 1.5rem;
        padding: 1.5rem 2.5rem;
    }

    .home-join-section{
        padding: 2rem;
    }
}
