@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --maroon: #500000;
}

section.sponsors-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container h1.sponsors-title{
    margin-top: 5rem;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
}

section.sponsors-section h2{
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    color: var(--maroon);
    font-style: italic;
    margin-bottom: 3rem;
}

section.sponsors-section img{
    max-width: 200px;
    max-height: 100px;
}

section.sponsors-section .sponsor-imgs{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.sponsors-section .sponsor-imgs .sponsor-image-pair img{
    padding: 0 5rem;
    margin-bottom: 2rem;
}


.sponsor-spacer{
    width: 35vw;
    background-color: var(--maroon);
    height: 3px;
    margin: 3rem 0 2rem 0;
}

.bronze-text-sponsors{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.affiliate-text-sponsors h3{
    font-size: 1.25rem;
    font-family: 'Inter', sans-serif;
}



/* JOIN SECTION */

section.join-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10rem 0;
    height: 30vh;
}

section.join-section h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5rem;
    margin: 0;
}

section.join-section h2{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
}

section.join-section button.become-a-sponsor-button{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    background-color: var(--maroon);
    color: white;
    padding: 2rem 4rem;
    border: none;
}


section.join-section button.become-a-sponsor-button a{
    color: white;
    text-decoration: none;
}

section.join-section button.become-a-sponsor-button:hover{
    background-color: #8B0000;
    cursor: pointer;
}

section.sponsors-section img{
    max-width: 350px;
}


section.sponsors-section .sponsor-imgs .sponsor-image-pair{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.sun-moon-stars-container {
    padding-left: 50px; 
    padding-right: 50px;
    display: inline-flex;
}



@media screen and (max-width: 768px){

    section.sponsors-section .sponsor-imgs .sponsor-image-pair{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.sponsors-section .sponsor-imgs .sponsor-image-pair img{
        margin-bottom: 4rem;
    }

    .main-container h1.sponsors-title{
        font-size: 4rem;
    }

    .bronze-text-sponsors{
        flex-direction: column;
    }
    
    section.join-section{
        height: auto;
        margin: 5rem 0;
    }

    section.join-section h1{
        font-size: 3rem;
    }

    section.join-section button.donate-button{
        padding: 1.5rem 2.5rem;
    }

    section.join-section h2{
        font-size: 1.25rem;
        margin: 3rem 0;
    }
}