:root {
    --maroon: #500000;
}

footer.footer-container{
    font-family: 'Inter', sans-serif;
    height: 20vh;
    padding: 0 3rem;
    background-color: var(--maroon);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left-container, .footer-right-container{
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.footer-left-container{
    align-items: flex-start;
}

.footer-right-container{
    align-items: flex-end;
}

.footer-logo-image{
    align-self: flex-start;
    max-width: 150px;
}

h1.copyright{
    margin: 0;
    font-size: .75rem;
    color: white;
    font-weight: normal;
}

h1.contact{
    margin: 0;
    color: white;
    font-weight: normal;
    font-size: 1rem;
}

footer a {
    font-size: 1.75rem;
    color: white;
}

footer a:hover, h1.contact:hover{
    cursor: pointer;
    color: rgb(210, 210, 210);
}

a.youtube{
    margin: 0 2rem;
}

@media screen and (max-width: 768px){
    .footer-logo-image{
        max-width: 100px;
    }

    footer.footer-container{
        padding: 0 2rem;
    }
}