@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --maroon: #500000;
}

footer.footer-container {
    font-family: 'Inter', sans-serif;
    padding: 3rem 3rem;
    background-color: var(--maroon);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left-container, .footer-right-container {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-left-container {
    align-items: flex-start;
}

.footer-right-container {
    align-items: flex-end;
}

.footer-logo-image {
    margin: 0;
    max-width: 150px;
}

footer.footer-container h1 {
    margin: 0;
    color: white;
    font-weight: normal;
}

h1.copyright {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1rem;
}

h1.contact {
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    font-size: 1.5rem;
}


h1.contact a{
    margin: 0;
    text-decoration: none;
}

footer a {
    font-size: 1.75rem;
    color: white;
    margin: 0 10px;
}

footer a.no-margin{
    margin-right: 0;
}

.socials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

img.linktree-icon:hover{
    cursor: pointer;
}

footer a:hover{
    cursor: pointer;
}

h1.contact a:hover{
    color: rgb(210, 210, 210);
}

@media screen and (max-width: 768px) {
    .footer-logo-image {
        max-width: 150px;
    }

    footer.footer-container {
        padding: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .footer-right-container, .footer-left-container {
        height: 17vh;
        align-items: center;
        justify-content: space-around;
    }

    .socials-container {
        justify-content: space-around;
        max-width: 100%;
    }

    footer a {
        margin: 10px;
    }

    h1.contact a{
        font-size: 1.25rem;
    }
}
