@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --maroon: #500000;
}

section.team-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10rem;
}

img.team-image {
    max-width: 1000px;
    margin: 5rem 0;
}

h1.team-title {
    margin-top: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--black);
    font-size: 5rem;
    margin-bottom: 0;
}

h1.team-desc{
    margin-top: 1rem;
    font-weight: normal;
    font-size: 1rem;
}

.subteam-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 75vw;
    justify-items: center;
    align-items: start;
}

.subteam-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 400px;
}

h1.team-div-title {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--maroon);
    font-size: 2rem;
}

h1.name {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

h1.team-lead {
    font-weight: normal;
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

h1.team-lead span.team-lead-bold {
    font-weight: bold;
    font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
    h1.team-title {
        font-size: 4rem;
    }

    img.team-image {
        max-width: 350px;
    }

    section.team-inner-container {
        padding: 0 2rem;
    }

    .subteam-container {
        grid-template-columns: 1fr;
    }
}